@import "../settings/base";

.ecommerce__input-select {
  border: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-radius: 0px;
  margin: 50px;
  width: 25%;
}
