@import "../settings/base";

.ecommerce__select-label {
  margin: 0px;
}

.ecommerce__select-input {
  border: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-radius: 0px;
  width: 25%;
}
