@import "../settings/base";

.ecommerce__product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 225px;
}

.ecommerce__product-card-data {
  padding: 10px;
}

.ecommerce__product-card-image {
  width: 100%;
  height: 200px;
}

.ecommerce__product-card-data-name {
  padding: 10px 0px;
  @include typography-config(
    $subtitle-1-font-size,
    $subtitle-1-line-height,
    $subtitle-1-font-weigth
  );
}

.ecommerce__product-card-data-description {
  padding: 0px 0px 10px 0px;
  @include typography-config(
    $caption-font-size,
    $caption-line-height,
    $caption-font-weigth
  );
}

.ecommerce__product-card-data-price {
  @include typography-config(
    $subtitle-2-font-size,
    $subtitle-2-line-height,
    $subtitle-2-font-weigth
  );
}
