@import "../settings/base";

.ecommerce__order-cart-container {
  display: flex;
  flex-flow: row;
  margin: 20px;
}

.ecommerce__order-cart-container-order-summary {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  margin-right: 2%;
  padding: 15px;
  width: 64%;
}

.ecommerce__order-cart-container-summary-information {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 34%;
}

.ecommerce__order-cart-container-order-summary--empty-cart {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  @include typography-config(
    $body-2-font-size,
    $body-2-line-height,
    $body-2-font-weigth
  );
}

.ecommerce__order-cart-container-order-summary--filled-cart {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ecommerce__order-cart-container-summary-information-subtotal,
.ecommerce__order-cart-container-summary-information-delivery,
.ecommerce__order-cart-container-summary-information-total {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.ecommerce__order-cart-container-order-summary--filled-cart-title {
  @include typography-config(
    $title-font-size,
    $title-line-height,
    $title-font-weigth
  );
}

.ecommerce__order-cart-container-summary-checkout-button {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: 50px;
}
