@import "../settings/base";

.ecommerce__cart-main {
  max-width: 1280px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-evenly;
}

.ecommerce__cart-main-table {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  margin-right: 2%;
  padding: 15px;
  width: 64%;
}

.ecommerce__cart-main-summary {
  width: 34%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
