@import "../settings/base";

.ecommerce__home {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ecommerce__home-header {
  width: 100%;
}

.ecommerce__home-main {
  max-width: 1280px;
  margin: 0px 20px;
}
